body {
    background-color: #ffefd7;
    padding-bottom: 30px;
    padding: 0px 5% 30px;
}

h1 {
    color: rgb(245, 196, 226);
    text-align: center;
    text-family: Arial;
}

h2 {
    color: #ffa1db;
    text-family: 'Times New Roman';
}

img {
    width: 250px;
    display: block;       
  margin-left: auto;    
  margin-right: auto;
}
